<body>
  <div class="leaderboard-show-container">
    <h1>Groups</h1>
    <% @groups.each do |group| %>
      <div class="leaderboard-card group-card">
        <div class="leaderboard-header">
          <h2><%= group.name %></h2>
          <h1> <%= group.friend&.name || "No Friend Assigned" %></h1>
          <% if group.friend&.profile_picture_url.present? %>
            <%= image_tag(group.friend.profile_picture_url, alt: group.friend.name, class: 'profile-picture') %>
          <% end %>
          <p>Multiplier: <%= group.multiplier %></p>
        </div>
        <div class="team-list">
          <div class="progressed">
            <p>Progressed?</p>
          </div>
          <% total_points = group.total_points %>
          <% group.teams.each do |team| %>
            <div class="team">
              <p><%= team.name %> - <%= team.points %></p>
              <%= form_with url: update_team_progress_leaderboard_path(team), method: :patch, local: true do %>
                <%= check_box_tag :progressed, team.id, team.progressed?, class: 'progressed-checkbox', onchange: 'this.form.submit();' %>
              <% end %>
            </div>
          <% end %>
        </div>
        <h1 class="total-points">Total Points: <%= total_points %></h1>
      </div>
    <% end %>
  </div>
</body>
</html>
