<!DOCTYPE html>
<html>
<head>
  <title>Matches</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="matches-container">
    <div class="navigation">
      <a href="<%= leaderboard_index_path %>" class="button">Go to Groups</a>
      <a href="<%= leaderboard_path(:show) %>" class="button">Go to Leaderboard</a>
    </div>
    <h1>Matches</h1>

    <% if @error_message %>
      <p><%= @error_message %></p>
    <% else %>
      <div class="matches-list">
        <% @matches.each do |match| %>
          <div class="match">
            <div class="team-scores">
              <div class="team-score">
                <h1><%= match.home_friend_name %></h1>
                <h3><%= match.home_team.name %></h3>
                <p><%= match.home_score %></p>
              </div>
              <div class="winner">
                <p><strong>Winner:</strong>
                  <% if match.winner == "home" %>
                    <%= match.home_team.name %>
                  <% elsif match.winner == "away" %>
                    <%= match.away_team.name %>
                  <% else %>
                    Draw
                  <% end %>
                </p>
              </div>
              <div class="team-score">
                <h1><%= match.away_friend_name %></h1>
                <h3><%= match.away_team.name %></h3>
                <p><%= match.away_score %></p>
              </div>
            </div>
            <div class="event-summary">
              <p><%= match.accessible_event_summary %></p>
            </div>
            <div class="match-details">
              <p><strong>Fixture Date - </strong> <%= match.start_time.strftime("%B %d, %Y %H:%M") %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</body>
</html>
