<!-- app/views/matches/index.html.erb -->
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Matches</title>
  <link rel="stylesheet" href="styles.css">
</head>
<body>
  <div class="matches-container">
    <div class="navigation">
      <a href="<%= leaderboard_index_path %>" class="button">Go to Leaderboard</a>
    </div>
    <h1>Matches</h1>

    <% if @error_message %>
      <p><%= @error_message %></p>
    <% else %>
      <table>
        <thead>
          <tr>
            <th>Home Team</th>
            <th>Away Team</th>
            <th>Home Score</th>
            <th>Away Score</th>
            <th>Start Time</th>
            <th>Status</th>
            <th>Winner</th>
          </tr>
        </thead>
        <tbody>
          <% @matches.each do |match| %>
            <tr>
              <td><%= match.home_team.name %></td>
              <td><%= match.away_team.name %></td>
              <td><%= match.home_score %></td>
              <td><%= match.away_score %></td>
              <td><%= match.start_time %></td>
              <td><%= match.status %></td>
              <td><%= match.winner %></td>
              <td><%= match.accessible_event_summary %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    <% end %>
  </div>
</body>
</html>
